/* Estilos básicos para la app */
.app {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #4641a3;
  color: white;
  padding: 15px;
  margin: 0;
  border-radius: 10px;
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

/* Estilo para la columna izquierda */
.left-column {
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
}

.task-input input,
.task-input textarea,
.filter-input input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

/* Separación uniforme entre botones */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px; /* Unifica la separación entre botones */
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* Estilo para los botones */
.task-input button {
  background-color: #4CAF50;
  color: white;
  border: none;
  width: 106%;
}

#editing {
  background-color: #4641a3;
  border: none;
}

.full-width-button {
  background-color: #4CAF50; /* Same green as the other buttons */
  color: white;
  width: 106%;
}

.full-width-button:hover {
  background-color: #45a049;
}

/* Botones de "Estatus", "Categoría", "Prioridad" */
.select-input select {
  width: 106%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #4641a3;
  color: white;
  border: none;
}

.select-input select:hover {
  background-color: #3b3697;
}

/* Estilo para la columna derecha */
.right-column {
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
}

.right-column ul {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.task-item h3 {
  margin: 0;
  font-size: 20px;
}

.task-item p {
  font-size: 14px;
  color: #555;
}

.task-item button {
  background-color: #e71111;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#update {
  background-color: #4641a3;
}

.task-item button:hover {
  background-color: #c90d0d;
}

.task-item button:nth-child(1) {
  margin-right: 10px;
}

