/* Estilos básicos para la app */
.app {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  padding: 15px;
  margin: 0;
}

/* Contenedor principal */
.container {
  gap: 200px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

/* Estilo para la columna izquierda */
.left-column {
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
}

.task-input input,
.task-input textarea,
.filter-input input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

/* Separación uniforme entre botones */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px; /* Unifica la separación entre botones */
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* Estilo para los botones */
.task-input button {
  background-color: #81c9a2; /* Verde menta más fuerte */
  color: white;
  border: none;
  width: 106%;
}

#editing {
  background-color: #8fa9df; /* Azul más vivo */
  border: none;
}

.full-width-button {
  background-color: #80b7ed; /* Azul más fuerte y vivo */
  color: white;
  width: 106%;
}

.full-width-button:hover {
  background-color: #6f99e3; /* Azul más oscuro para hover */
}

/* Botones de "Estatus", "Categoría", "Prioridad" */
.select-input select {
  width: 106%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #8fa9df; /* Azul más fuerte */
  color: white;
  border: none;
}

.select-input select:hover {
  background-color: #7793c7; /* Azul un poco más oscuro al hacer hover */
}

/* Estilo para la columna derecha */
.right-column {
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
}

.right-column ul {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.task-item h3 {
  margin: 0;
  font-size: 20px;
}

.task-item p {
  font-size: 14px;
  color: #555;
}

.task-item button {
  background-color: #8fa9df; /* Azul más fuerte */
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#update {
  background-color: #81c9a2; /* Verde menta más fuerte */
}

.task-item button:hover {
  background-color: #7793c7; /* Azul más oscuro al hacer hover */
}

.task-item button:nth-child(1) {
  margin-right: 10px;
}

.date-picker-container {
  position: relative;
  margin-top: 10px;
}

.date-picker-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  background-color: white; /* Fondo blanco para mayor claridad */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
  border-radius: 8px; /* Bordes redondeados */
  /*overflow: hidden;  Evita que el contenido se desborde */
}

/* App.css */
body {
  background: linear-gradient(to right, #a0b5eb, #c9f0e4); /* Degradado de azul claro a verde menta */
  min-height: 100vh; /* Asegura que ocupe toda la pantalla */
  margin: 0; /* Elimina márgenes por defecto */
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 430px;
}
